body{font-family: Sans-Serif;}
main{    background-image: url(../img/hero-bg.png);
background-size: cover;
background-position: 50%;}
.header{padding: 0px; border-top:1px solid #080152;}
.header1{
float:left; width:100%;box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);padding: 15px 0px 10px 0px;background: #302ba0; /* Old browsers */background: -moz-linear-gradient(top, #f6f6fe 0%, #ffffff 100%); /* FF3.6-15 *//* background: -webkit-linear-gradient(top, #f6f6fe 0%,#ffffff 100%); */ /* Chrome10-25,Safari5.1-6 *//* background: linear-gradient(to bottom, #f6f6fe 0%,#ffffff 100%); */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6fe', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */height: 70px;line-height: 34px;}
.header .logo{position: absolute;}
.header .logo img{position: relative; margin:0px 0px 0px 0px; margin-right:0px;max-height: inherit;width: 68px;}
.header2 {/* background: #090253; */display: inline-block;width: 180px;padding: 10px 0px;}
.header2 .navbar a{padding: 14px 15px; color: #f6f6fe;}
.search .input-group{width: 414px;}
.search input{font-size:13px;font-weight: normal;color: #ffffff;background-color: #4b46ac;border: none;padding-left: 40px;border-radius: 0!important;height: 38px;}
.search button{/* padding: 7px 25px; *//* background:#090253; *//* margin-left:-1px; */ 
border-top-left-radius:0 !important; border-bottom-left-radius:0 !important;border-radius: 5px;border: none;} 
.search .input-group button i{font-weight:bolder !important;color: #c6c4e5;}
.login-1 {/* float: right; */}
.login-1 .dropdown-toggle::after {display: none;}
.login-1 .dropdown-toggle{border-radius: 2px; color:#ffde;padding: 7px 20px;}
.login-1 .btn-secondary{background: #ffffff;color: #302ba0;font-weight: 600;width: 120px;} 
.login-1 .btn-secondary:focus{border:none; box-shadow:none; }
button.btn.btn-secondary.dropdown-toggle.user ,button.btn.btn-secondary.dropdown-toggle.user.show {
border-radius: 30px;
color: #ffde;
padding: 8px 13px;
outline: none;
box-shadow: none;
border: none;
}
button#dropdownMenuButton1 i {
color: #ffde00;
}
.margin-128{
margin-top:128px;
}
.jss368 {
padding-top: 16px;
padding-left: 16px;
padding-right: 16px;
padding-bottom: 16px;
}
.jss368:last-child {
padding-bottom: 24px;
}
@media (min-width:600px) {
.jss368 {
padding-left: 24px;
padding-right: 24px;
}
.scrool-margin {
    margin-top: 95px!important;
}
}
.jss332 {
/* top: 75px; */
height: 56px;
padding: 2px 4px;
/* z-index: 1100; */
display: flex;
/* position: fixed; */
box-shadow: 0px 2px rgb(0 0 0 / 23%);
align-items: center;
border-radius: 28px;
background-color: #fff;
width: 180px;
}
.jss333 {
flex: 1;
font-size: 16px;
margin-left: 8px;
}
.home-search-input-style {
border-radius: 28 !important;
z-index: 1100;
top: -22px; }
.citizen-dashboard-cont {
}
@media only screen and (min-width: 768px) {
.citizen-dashboard-cont {
padding: 8px !important; 
} 
}
.rainmaker-card {
color: #5f5c62;
background-color: white;
-webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
-o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: Sans-Serif;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
-webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
border-radius: 3px;
z-index: 1;
margin: 16px 0px;
padding: 12px 8px; }
.service-item {
padding: 0px !important; }
.service-list {
padding-top: 0px;
padding-bottom: 0px; }
.upper-row {
margin-bottom: 30px; }
.service-icon {
width: 35px !important;
fill:rgba(239, 214, 47, 1)!important;
overflow: visible !important;
height: 35px!important;
 }
.module-page-icon {
height: 30px;
width: 30px;
color: #fe7a51; }
.card-content-style {
padding: 0 !important; }
.service-label-cont .label-text {
word-break: inherit;
word-wrap: inherit; font-size: 16px!important;
    font-weight: 600;}
@media only screen and (min-width: 768px) {
    .ad-submit, .ad-reg {
        margin: 0 !important;
    }
.service-module-style {
height: 140px !important; }
.service-icon {
width: 45px !important; } }
.jss1 {
top: 75px;
height: 56px;
padding: 2px 4px;
z-index: 1100;
display: flex;
position: fixed;
box-shadow: 0px 2px rgb(0 0 0 / 23%);
align-items: center;
border-radius: 28px;
background-color: #fff;
}
.label-container {
display: block;
}
.jss9 {
width: 180px;
display: flex;
flex-wrap: wrap;
box-sizing: border-box;
}
.jss3 {
width: 10%;
padding: 1%;
flex-grow: 1;
}
.jss10 {
margin: 0;
box-sizing: border-box;
}
.jss6 {
height: 90px;
cursor: pointer;
display: flex;
margin-top: 0;
align-items: center;
border-radius: 0;
justify-content: center;
}
.jss113 {
overflow: hidden;
}
.jss117 {
box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 2px 1px -1px rgb(0 0 0 / 12%);
}
.jss115 {
border-radius: 4px;
}
.jss114 {
background-color: #fff;
}
@media only screen and (min-width: 768px){
.service-module-style {
height: 140px!important;
border-left: 10px solid rgba(48, 43, 160, 1);
}
}
.jss57 {
flex-grow: 0;
max-width: 50%;
flex-basis: 50%;
}
.jss43 {
flex-grow: 0;
max-width: 50%;
flex-basis: 50%;
}
.jss10 {
margin: 0;
box-sizing: border-box;
}
@media only screen and (min-width: 768px){
.ad-submit, .ad-reg {
    margin: 0 !important;
}
.servicelist-style {
height: 140px!important;
border-radius: inherit!important;
padding: 8px!important;
margin: 8px 0!important;
}
}
@media only screen and (min-width: 768px){
.service-nearby-icon-cont, .servicelist-style {
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
}
}
.rainmaker-card {
color: #5f5c62;
background-color: #fff;
-webkit-transition: all .45s cubic-bezier(.23,1,.32,1) 0ms;
-o-transition: all .45s cubic-bezier(.23,1,.32,1) 0ms;
transition: all .45s cubic-bezier(.23,1,.32,1) 0ms;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: Sans-Serif;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-box-shadow: rgb(0 0 0 / 12%) 0 1px 6px, rgb(0 0 0 / 12%) 0 1px 4px;
box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 12%);
border-radius: 3px;
z-index: 1;
margin: 16px 0;
padding: 12px 8px;
}
.local-information-cont {
background-color: #fff;
padding: 16px;
width: 180px;
height: 56px;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: center;
justify-content: center;
-ms-flex-align: center;
align-items: center;
}
.login-1 .dropdown-item{font-size: 13px; color:#ffde00; line-height:26px;}
.login-1 .dropdown-menu{background:#090253;}
.login-1 .dropdown-item:hover{background: #000; color:#fff;}
.login-1 .dropdown-item:active{background: #000; color:#fff;}
.language {/* float: right; */}
.language .dropdown-toggle::after {display: none;}
.language .dropdown-toggle{border-radius:30px; color:#ffde; padding:6px 20px;box-shadow: none;}
.language .btn-secondary{background: transparent;color: #ffffff;font-size: 13px;border: none;} 
.language .btn-secondary:focus{border: none; box-shadow:none;background-color: transparent;}
.language .dropdown-item{font-size: 13px; color:#090253; line-height:26px;}
.language .dropdown-menu{background:#fff; min-width: 7rem;}
.language .dropdown-item:hover{color:#090253;}
.language .dropdown-item:active{color:#090253;}
.font-site{/* float:left; */font-size: 14px; text-transform:uppercase; color:#090253;padding: 0 10px;}
.hero .carousel-item .text-left ul{list-style:none; padding:10px 0px; margin: 0px;}
.hero .carousel-item .text-left ul li{list-style:none; padding:20px 0px; margin: 0px; 
color:#070152; font-size: 19px; font-weight:600;}
.hero .carousel-item .text-left ul li i{font-weight: bolder;}
.scrool-message{width:100%; padding:9px 10px 6px 10px; background-color: #fff085; display: inline-block;
font-size:14px; color: #000; font-weight: 600;}
.hero {padding: 70px 0 0px 0;}
.hero .img{margin-bottom: 0px;}
.about h3 {font-weight: normal; font-size: 15px; line-height: 25px;}
section {padding:10px 0;}
.about .tab-content h4{font-size: 14px;}
.about .tab-content p{font-size: 13px;}
.about h3 {margin-bottom: 0px;}
.about .nav-link{font-size: 15px;}
.about .tab-content p{margin:0px 0px 8px 0px; text-align: justify;}  
.about .tab-content p span{margin:10px 0px 0px 0px; color:#0541af;}
.whats-new{width:100%; background-color:#fff; box-shadow: -23px 0 36px -25px #333; border-radius:10px;  height:auto;}
.section-bg3{background-color: #fff; width:100%; display: inline-block; height:auto;}
.section-title h4{ padding:20px 0px 10px 30px; text-align:left; font-size:30px;}
.body1-left-side{  width: 180px; height: auto; margin:0px 0px 0px 0px;}
.block-hdnews {margin:5px auto; }
.list-wrpaaer {height:340px}
.list-wrpaaer ul{ margin:0px;}
.list-wrpaaer ul li{list-style:none; padding:12px 10px 12px 30px; display:inline-flex; }
.list-aggregate li { border-bottom-color: #e5e5e5 }
.list-aggregate li a { color:#056db1; }
.list-aggregate li p { color:#686666; padding:10px 0px 0px 0px; margin:0px; text-align:left;  font-size: 12px; line-height:17px;}
.list-aggregate li:hover { background-color: rgba(36, 1, 77, 0.1);}
.policy-img2{width:60px; height:60px; border-radius:50%; background-color:#0579c6;}
.policy-img2 h4{font-size:15px; line-height:10px;  color:#fff; margin:0px; padding:17px 0px 0px 0px;}
.policy-img2 span{font-size:10px; color:#fff;}
.list-aggregate{left:-41px !important;}
.buy-policy-2{float:right; width:80%; padding:0px 15px; }
.section-title h3{padding:15px 0px; font-size: 1.2rem;}
.imp-link h2{text-align: left; padding: 23px 0px 0px 0px; font-weight: normal; margin: 0px;}
.download1{display: inline-block; width:100%;}
.download1 .d1-icon{width:100px; height: 100px; border-radius: 50px;
text-align: center; background: #050048; margin: 0px auto;}
.download1 .d1-icon img{margin:16px auto 0px auto;}
.download1 h3{text-align: center; color: #000; font-weight:bold ; line-height: 26px; font-size: 13px; height: 52px;}
.download1 a{text-align: center; color: #fff; font-size: 12px; background: #050048; 
padding: 6px 14px; letter-spacing: 1px; border-radius: 20px; }
.download1{margin: 20px 0px 0px 0px;}
.download1 a:hover{transition: all ease-in-out 0.4s; background: #ffde00; color: #000;}
.faq .accordion-body{font-size: 13px;}
.more {margin:30px auto 20px auto; text-align: center;}
.more a{width:65px; height:65px; color:#ffde00; background: #050048; font-size: 30px; 
border-radius:50%; display: inline-block; padding:6px 0px 0px 0px; border:5px solid; transition: all ease-in-out 0.4s; }
.more a:hover{background:#ffde00; color: #000; }
.import { padding-bottom: 30px;}
.import .count-box { box-shadow: 0px 0 16px rgba(0, 0, 0, 0.1); padding: 20px; background: #fff; 
margin-bottom: 30px; border-radius:5px; display:inline-block; width:100%; height:185px; }
.import .count-box2 { box-shadow: 0px 0 16px rgba(0, 0, 0, 0.1); padding:10px 0px 0px 0px; background: #0579c6; 
margin-bottom: 30px; border-radius:5px; height: 60px; text-align: center; transition: all ease-in-out 0.4s;  }
.import .count-box2 h4 {  font-size:14px; color:#fff; font-weight:normal; line-height:33px;  }
.import .count-box2 h3 {  font-size:14px; color:#fff; font-weight:normal; line-height:20px; }
.import .count-box i { display: block; font-size: 64px; margin-bottom: 15px;}
.import .count-box span { font-size: 42px; display: block; font-weight: 700; color: #1c5c93;}
.import .count-box p { padding: 0; margin: 0; font-size: 14px;}
.import .count-box2:hover{background-color:#000; transition: all ease-in-out 0.4s;}
.footer-links p span{line-height: 26px; font-size: 13px;}
.footer-newsletter p a{font-size: 14px;color: #273037; padding:10px 15px;text-align: center; margin:20px 0px 0px 0px;background: #ffde00;display: inline-block;}
.footer .footer-legal .credits a{color: #ffde00;}
.footer .footer-content .footer-newsletter form input[type=submit]:hover {background:#37326e;}
/*===================Ste-Menu==============*/
.scrool-margin{margin-top: 130px;}
.site-menu{background: #fff; color: #090253; font-size: 13px; box-shadow: 0px 0 16px rgb(0 0 0 / 10%);}
.site-menu nav ul li a{font-weight: 400 !important;  font-size: 14px !important;
border-bottom:1px solid #E5E9EF !important; color:#090253 !important;}
.site-menu nav ul li a i::before{ font-size:15px; font-weight:bold !important;}
.site-menu nav ul li a:hover{color:#0d6efd !important;}
.sidebar li .submenu{ list-style: none; margin: 0; padding: 0; padding-left: 1rem; padding-right: 1rem;}
.sidebar .nav-link {font-weight: 500; color: var(--bs-dark);}
.sidebar .nav-link:hover {color: var(--bs-primary);}
.certificate1 p{font-size:13px; text-align:justify; line-height:33px; padding:10px 0px 0px 0px;}
.certificate1 h4{color:#090253;}
.certificate1 h6{padding:10px 0px 0px 0px;}
.certificate1 p span a {color:#0d6efd;}
/*====================Application part================*/
.application1{width:100%; float:left; height:auto; background: rgba(255, 255, 255,0.5); border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
box-shadow:0px 0px 35px 0px rgba(154,161,171,0.15); margin:20px 0px 20px 0px;}
.application1 h4{background-color: rgba(114,124,245); opacity: 1; border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0; padding:30px 20px;
color:#fff; font-size:23px; text-align:center;}
.application1 .form1{padding:10px 20px; } 
.application1 .form1 .form-group{color:#000; margin:0px 0px 10px 0px;}
.application1 .form1 .form-group span{color:#FF0000;}
.application1 .form1 .form-group select{ font-size:12px; padding:7px 20px 7px 10px;}
.application1 .form1 .form-group { font-size:14px; padding:0;     margin: auto;
    align-items: center;}
.application1 .form1 .form-group .form-check-input{padding:8px !important;}
.application1 .form1 .form-titel-1 h5{font-size:22px; color:#090253; padding:10px 0px;}
.application1 .form1 .form-titel-1 h6{font-size:20px; color:#090253; padding:10px}
.application1 .form1 .form-group .form-check{display: inline-block;}
.application1 .form1 .form-group .form-check label{padding:0px 0px 0px 10px;}
.styling {
background: #f5f5f5;
border: 1px solid #ccc;
border-radius: 5px;
padding: 20px;
text-align: center;
/* height: 150px;
overflow: auto; */
}
/* ====================Responsive========================*/
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 800px) {}
@media screen and (max-width: 786px) {
.ad-submit, .ad-reg {
    margin: 0 !important;
}
.hero .carousel-item .text-left ul {
    list-style: none;
    padding: 10px 0px;
    margin: 30px;
}
.form-control-lg {
    font-size: 11px!important;
	padding: 2px;
}
.col-6.col-md-6.col-lg-6.col-sm-12.col-sx-12 {
    width: 180px;
	text-align: center;
}
.fa, .fas {
    font-weight: 900;
    font-size: 14px;
}
.col {
    flex: 1 0 0%;
    padding: 0;
}
.jss3 {
    width: auto;
}
.table>:not(caption)>*>* {
    padding: 1rem 0.2rem;
    font-size: 11px;
}	
.col-lg-9 {
    width: 76%;
    padding: 0;
    margin: -11px 0 0 0;
}
.margin-128 {
    margin-top: 76px;
}
.nav {
    display: flex;
    flex-wrap: initial;
}
.hero .carousel-item .text-left ul li {
    list-style: none;
    padding: 8px 0px;
}
.about .nav-pills li + li {
    margin-left: 22px;
}	
	
.header .logo img {
position: relative;
margin: 0px 0px 0px 0px;
margin-right: 0px;
max-height: 55%!important;
}
.header .logo {
float: left;
height: 50%!important;
}
.language {
float: right;
padding: 10px 0 0 0;
}
.login-1 {
float: right;
padding: 10px 0 0 0;
}
.font-site {
float: left;
font-size: 8px;
padding: 10px 0 0 0;
}
.search .input-group {
width: 79%;
float: left;
margin-left: 30px;
}
.scrool-margin {
    margin-top: 35px!important;
}
.col-lg-6.licence-right.tx, .col-lg-6.pri-nt{
	text-align:center!important;
}
}
@media screen and (max-width: 480px) {
.ad-submit, .ad-reg {
    margin: 0 !important;
}
.hero .carousel-item .text-left ul {
    list-style: none;
    padding: 10px 0px;
    margin: 30px;
}
.col-6.col-md-6.col-lg-6.col-sm-12.col-sx-12 {
    width: 180px;
	text-align: center;
}
.col {
    flex: 1 0 0%;
    padding: 0;
}
.fa, .fas {
    font-weight: 900;
    font-size: 14px;
}
.form-control-lg {
    font-size: 11px!important;
	padding: 2px;
}
.table>:not(caption)>*>* {
    padding: 1rem 0.2rem;
    font-size: 11px;
}
.jss3 {
    width: auto;
}
.margin-128 {
    margin-top: 76px;
}
.col-lg-9 {
    width: 76%;
    padding: 0;
    margin: -11px 0 0 0;
}
.about .nav-pills li + li {
    margin-left: 22px;
}
.hero .carousel-item .text-left ul li {
    list-style: none;
    padding: 8px 0px;
}
.nav {
    display: flex;
    flex-wrap: initial;
}
.header .logo img {
position: relative;
margin: 0px 0px 0px 0px;
margin-right: 0px;
max-height: 90%!important;
}
.header .logo {
float: left;
height: 50%!important;
}
.language {
float: right;
padding: 10px 0 0 0;
}
.login-1 {
float: right;
padding: 10px 0 0 0;
}
.font-site {
float: left;
font-size: 8px;
padding: 10px 0 0 0;
}	
.search .input-group {
width: 79%;
float: left;
margin-left: 30px;
}
.scrool-margin {
    margin-top: 35px!important;
}
.col-lg-6.licence-right.tx, .col-lg-6.pri-nt{
	text-align:center!important;
}
}
@media screen and (max-width: 320px) {
	.col-lg-6.licence-right.tx, .col-lg-6.pri-nt{
	text-align:center!important;
}
.ad-submit, .ad-reg {
    margin: 0 !important;
}
	.hero .carousel-item .text-left ul {
    list-style: none;
    padding: 10px 0px;
    margin: 30px;
}
.col-6.col-md-6.col-lg-6.col-sm-12.col-sx-12 {
    width: 180px;
	text-align: center;
}
.col {
    flex: 1 0 0%;
    padding: 0;
}
.table>:not(caption)>*>* {
    padding: 1rem 0.2rem;
    font-size: 11px;
}
.form-control-lg {
   padding: 2px;
    font-size:11px!important;
}
.fa, .fas {
    font-weight: 900;
    font-size: 14px;
}

.margin-128 {
    margin-top: 76px;
}
.jss3 {
    width: auto;
}
.about .nav-pills li + li {
    margin-left: 22px;
}
.col-lg-9 {
    width: 76%;
    padding: 0;
    margin: -11px 0 0 0;
}
.hero .carousel-item .text-left ul li {
    list-style: none;
    padding: 8px 0px;
}
.nav {
    display: flex;
    flex-wrap: initial;
}	
	
.header .logo img {
position: relative;
margin: 0px 0px 0px 0px;
margin-right: 0px;
max-height:90%!important
}
.header .logo {
float: left;
height: 50%!important;
}
.language {
float: right;
padding: 10px 0 0 0;
}
.login-1 {
float: right;
padding: 10px 0 0 0;
}
.font-site {
float: left;
font-size: 8px;
padding: 10px 0 0 0;
}
.search .input-group {
width: 79%;
float: left;
margin-left: 30px;
}
.fixed-top{position:inherit;} .hero { padding:0px 0 0px 0;}
.header1{height:auto;} .header .logo{position: relative;} .header .logo img{width: 60px;}
.search .input-group{ margin: 10px 0px;}
.font-site{float:none;}.login-1 {float: left; margin: 10px 0px;} .language{float: left; margin: 10px 0px;}
.faq .accordion-button{font-site:15px;}
.hero .carousel-item .text-left ul li{padding: 20px 10px; font-size: 15px;}
.scrool-margin {
    margin-top: 35px!important;
}
}
/* ====================Responsive========================*/
/* -------------- Malay Adding css ---------------*/
.custab{
border: 1px solid #ccc;
padding: 5px;
margin: 0 0 2%;
box-shadow: 3px 3px 2px #ccc;
transition: 0.5s;
}
.custab:hover{
box-shadow: 3px 3px 0px transparent;
transition: 0.5s;
}
.table>:not(caption)>*>*{
	    
	    font-size:12px;
	    padding: 10px;
	    vertical-align:middle;
}
.table>:not(:first-child) {
border-top: 1px solid currentColor;
}
.width18{
width:18%;
}
.width30{
width:45%;
}
.form-control{
	font-size:12px;
}
.form-control-borderless {
border: none;
}
.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
border: none;
outline: none;
box-shadow: none;
}
.card-body {
flex: 1 1 auto;
padding: 0rem 1rem 0.8rem;
}
.btn {font-size: 0.8rem;margin: 0;padding: 8px 40px;}

.btn-primary {
  font-size: 14px;
    background-color: rgb(42, 41, 84);
    padding: 8px 40px;
    margin-right: 5px;
    border-width: initial;
    border-style: none;
    margin-left: 10px;
}

.form-control-lg {
font-size: 0.85rem;
}
.card-body.row.no-gutters.align-items-center {
background-color: #fff;
padding: 10px 0 7px;
margin: 0 0 5px;
border-radius: 6px;
}
a.btn.btn-default.btn-xs {
background-color: #fff;
}
a.btn.btn-default.btn-xs:hover {
background-color: #5cb85c;
}
.btn-default {
color: #333;
background-color: #fff;
border-color: #ccc;
margin-right: 5px;
}
.jss147 {
margin: 16px 8px;
background-color: #fff;
}
.jss149 {
padding-top: 8px;
padding-bottom: 8px;
}
.jss148 {
margin: 0;
padding: 0;
position: relative;
list-style: none;
}
.jss153 {
position: relative;
}
.jss161 {
padding-right: 32px;
}
.jss160 {
transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.jss159 {
padding-left: 16px;
padding-right: 16px;
}
.jss152 {
width: 180px;
display: flex;
position: relative;
box-sizing: border-box;
text-align: left;
align-items: center;
padding-top: 12px;
padding-bottom: 12px;
justify-content: flex-start;
text-decoration: none;
}
.jss162 {
color: inherit;
border: 0;
margin: 0;
cursor: pointer;
display: inline-flex;
outline: none;
padding: 0;
position: relative;
align-items: center;
user-select: none;
border-radius: 0;
vertical-align: middle;
justify-content: center;
-moz-appearance: none;
text-decoration: none;
background-color: transparent;
-webkit-appearance: none;
-webkit-tap-highlight-color: transparent;
}
.jss178 {
top: 50%;
right: 4px;
position: absolute;
transform: translateY(-50%);
}
.jss179 {
flex: 0 0 auto;
width: 48px;
color: rgba(0, 0, 0, 0.54);
height: 48px;
padding: 0;
font-size: 1.5rem;
text-align: center;
transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
border-radius: 50%;
}
.jss162 {
color: inherit;
border: 0;
margin: 0;
cursor: pointer;
display: inline-flex;
outline: none;
padding: 0;
position: relative;
align-items: center;
user-select: none;
border-radius: 0;
vertical-align: middle;
justify-content: center;
-moz-appearance: none;
text-decoration: none;
background-color: transparent;
-webkit-appearance: none;
-webkit-tap-highlight-color: transparent;
}
.jss184 {
width: 180px;
display: flex;
align-items: inherit;
justify-content: inherit;
}
.jss171 {
top: 0;
left: 0;
width: 180px;
height: 100%;
display: block;
z-index: 0;
position: absolute;
overflow: hidden;
border-radius: inherit;
pointer-events: none;
}
.jss165:first-child {
padding-left: 0;
}
.jss165 {
flex: 1 1 auto;
padding: 0 16px;
min-width: 0;
}
.jss171 {
top: 0;
left: 0;
width: 180px;
height: 100%;
display: block;
z-index: 0;
position: absolute;
overflow: hidden;
border-radius: inherit;
pointer-events: none;
}
.jss28 {
color: rgba(0, 0, 0, 0.87);
font-size: 18px;
font-weight: 400;
font-family: Sans-Serif;
line-height: 20px;
letter-spacing: 0.75px;
}
.jss21 {
margin: 0;
display: block;
padding: 20px;
}
button.btn.btn-lg.btn-success {
padding: 8px 40px;
}
button.btn.btn-lg.btn-success {
padding: 8px 40px;
}
.col-lg-6.licence-right.tx{
	text-align:right;
}

.e-demend {
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    padding: 30px;
    background-color: rgba(255,266,255,0.75);
}
.bg-color{
	background-color: #efefef;
}
.left-pd{
	float:left;
	padding-right:10px;
}
.scroll-x{
overflow-x: scroll;
    white-space: nowrap;
	
}



::-webkit-scrollbar {
  width: 0.5em;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c6c4e5!important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c6c4e5!important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:#c6c4e5!important;
}

.input-group-append {
    position: absolute;
}


.language-txt{
	width:17px;
}

a.text-large{
	
	color:#e3e3f2;
	font-size:22px;
}

.carousel-caption.d-none.d-md-block h5{
    text-align: left;
	font-size:58px;
	color:#fff;
	
}
.carousel-caption.d-none.d-md-block p {
    text-align: left;
	font-size:36px;
	color:#FFEC69;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    top: 20%;
    left: 8%;
}

.white-bgtxt{
	background-color:#fff;
	border-radius:6px;
	padding:25px 40px;
	right: 8%;
	position: absolute;
	top: 20%;
	width: 40%;
	opacity: 0.8;
}

.border-btm{
	border-bottom: 2px solid #FFEC69;
    width: 58%;
    position: absolute;
    top: 27px;
    right: 69px;
	
}

.col-6.white-bgtxt h6 {
    color: #302BA0;
    border-bottom: 3px solid rgba(48, 43, 160, 1);
    font-size: 26px;
    padding: 9px 0px 10px;
    font-weight: 600;
}

.col-6.white-bgtxt ul li {
    color: #1e1e1e;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
	color:rgba(48, 43, 160, 1);
}
.col-6.white-bgtxt ul li a {
  
	color:#000000;
}
.carousel-indicators {
    position: absolute;
    /* right: 0; */
    bottom: 139px!important;
    left: 125px!important;
    z-index: 2;
    display: flex;
    justify-content: left;
    padding: 0;
   margin-right: 0!important; 
    margin-bottom: 0!important; 
    margin-left: 0!important; 
    list-style: none;
}

.col-6.white-bgtxt span {
    font-size: 14px;
    text-decoration: underline;
    position: absolute;
    right: 36px;
    top: 30px;
    font-weight: 600;

}

.col-6.white-bgtxt span a {
	color:#000000;
}

/* ========28-06-2022=========*/
.fix-none{position: inherit;}
.header-bg{background: #090253 !important;}

li.nav-item.dropdown a:hover{
	color:#000000;
}

button.btn.btn-outline-warning.btn-lg.sh {
    padding: 8px 15px;
}
button.btn.btn-outline-warning.btn-lg:hover{
	background:transparent;
	outline:none;
}





.jss911 {
    align-items: flex-start;
}

.jss909 {
    align-items: center;
    flex-direction: row;
}

.jss908 {
    display: flex;
    padding: 24px 2px;
}

.jss914 {
    box-shadow: none;
}

.jss912 {
    background-color: #fff;
}


.jss940:first-child {
    padding-left: 0;
}

.jss942 {
    flex: 1;
    position: relative;
}


.jss940 {
    padding:0px;
}

.jss944.jss953 {
    flex-direction: column;
}

.jss944 {
    display: flex;
    align-items: center;
}

.jss952.jss953 {
    padding-right: 0;
}

.jss952 {
    padding-right: 8px;
}


.jss955.jss957 {
    color: #3f51b5;
}
svg:not(:root) {
    overflow: hidden;
}
svg:not(:root) {
    overflow: hidden;
}

.jss957 {
    color: #fe7a51!important;
}

.jss955 {
    color: rgba(0, 0, 0, 0.38);
    display: block;
}

.jss960 {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}



.jss956 {
    fill: #fff;
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.jss995 {
    top: 12px;
    left: calc(50% + 20px);
    right: calc(-50% + 20px);
    position: absolute;
}

.jss992 {
    flex: 1 1 auto;
	border-bottom: 1px solid #9b9d9e;
}

.jss90 {
    border-top-style: solid!important;;
    border-top-width: 1px!important;;
}

.jss89 {
    display: block!important;;
    border-color: #bdbdbd!important;
}



.jss49 {
    fill: #fff;
}

.jss88 {
    top: 12px;
    left: calc(50% + 20px);
    right: calc(-50% + 20px);
    position: absolute;
}

.jss85 {
    flex: 1 1 auto;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y:4px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}

.label{
  display: inline-block;
  background-color: #474386;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 0;
}

.m-tp{
	margin-top:10px;
	
}

td a i {
    padding: 7px;
}

input.chckbx {
    margin: 13px;
}


/* Custom Radio Button Start*/

.radiotextsty {
  
  font-size: 14px;
}

.customradio {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.customradio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
    width: 16px;
  background-color: white;
  border-radius: 50%;
  border:1px solid #BEBEBE;
}

/* On mouse-over, add a grey background color */
.customradio:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the radio button is checked, add a blue background */
.customradio input:checked ~ .checkmark {
  background-color: white;
  border:1px solid #BEBEBE;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.customradio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.customradio .checkmark:after {
  top: 1px;
    left: 1px;
    width: 12px;
    height: 12px;
  border-radius: 50%;
  background: #A3A0FB;
}

/* Custom Radio Button End*/


.form-check-inline {
    display: flex;
    margin-right: 1rem;
}

span.input-group-addon {
    position: absolute;
    width: 20px;
    margin:5px 4px!important;
}


span.input-group-addon2 {
    float: left;
    width: 18%;
}

input.form-control.icon {
    background-image:url('../img/question.png');
  background-repeat:no-repeat;
  padding-left:31px;
      width: 180px;
      cursor: pointer;
}

input.form-control.icon-cal {
    background-image:url('../img/calculator.png');
  background-repeat:no-repeat;
  padding-left:31px;
      width:100%;
}


input.form-control.icon-calender {
    background-image:url('../img/calendar1.png');
  background-repeat:no-repeat;
  padding-left:31px;
      width:100%;
}

input.form-control.icon-cal.width {
    width: 100%!important;
}
input#datekmc {
    padding-left: 37px;
}
.pull-right{
	float:right;
}

.label-container .label-text {
    font-size: 11px!important;
    text-align: center;
	width: 62%;
    margin: 0 auto;
}



.form-group input.chekBox {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label.chekBoxLabel {
  position: relative;
  cursor: pointer;
}

.form-group label.chekBoxLabel:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input.chekBox:checked + label.chekBoxLabel:after {
  content: '';
  display: block;
  position: absolute;
 top: 3px;
    left: 7px;
    width: 5px;
    height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}




.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
      z-index: 999999999;
}

.popup {
  margin: 70px auto;
  padding: 0;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 8px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}