body {
    font-family: sans-serif
  }
  .confirmBox-dialog-ovelay {
    position: fixed;
    top: 71px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 1056;
  }
  .confirmBox-dialog-ovelay .confirmBox-dialog {
    width: 400px;
    margin: 100px auto 0;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-radius: 3px;
    overflow: hidden
  }
  .confirmBox-dialog-ovelay .confirmBox-dialog .confirmBox-Header {
    padding: 10px 8px;
    background-color: #f6f7f9;
    border-bottom: 1px solid #e5e5e5
  }
  .confirmBox-dialog-ovelay .confirmBox-dialog .confirmBox-Header h3 {
    font-size: 14px;
    margin: 0;
    color: #555;
    display: inline-block
  }
  .confirmBox-dialog-ovelay .confirmBox-dialog .confirmBox-Header .confirmBox-fa-close {
    float: right;
    color: #c4c5c7;
    cursor: pointer;
    transition: all .5s ease;
    padding: 0 2px;
    border-radius: 1px    
  }
  .confirmBox-dialog-ovelay .confirmBox-dialog .confirmBox-Header .confirmBox-fa-close:hover {
    color: #b9b9b9
  }
  .confirmBox-dialog-ovelay .confirmBox-dialog .confirmBox-Header .confirmBox-fa-close:active {
    box-shadow: 0 0 5px #673AB7;
    color: #a2a2a2
  }
  .confirmBox-dialog-ovelay .confirmBox-dialog .confirmBox-dialog-msg {
    padding: 12px 10px
  }
  .confirmBox-dialog-ovelay .confirmBox-dialog .confirmBox-dialog-msg p{
    margin: 0;
    font-size: 15px;
    color: #333
  }
  .confirmBox-dialog-ovelay .confirmBox-dialog .confirmBox-Footer {
    border-top: 1px solid #e5e5e5;
    padding: 8px 10px
  }
  .confirmBox-dialog-ovelay .confirmBox-dialog .confirmBox-Footer .confirmBox-controls {
    direction: rtl
  }
  .confirmBox-dialog-ovelay .confirmBox-dialog .confirmBox-Footer .confirmBox-controls .confirmBox-button {
    padding: 5px 15px;
    border-radius: 3px
  }
  .confirmBox-button {
  cursor: pointer
  }
  .confirmBox-button-default {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgba(204, 204, 204, 0.5);
    color: #5D5D5D;
  }
  .confirmBox-button-danger {
    background-color: rgb(42, 41, 84);
    border: 1px solid rgb(42, 41, 84);
    color: #f5f5f5
  }
  .confirmBox-link {
  padding: 5px 10px;
  cursor: pointer
  }